<h2>Manufacturer</h2>
<hr />
<div *ngFor="let forklift of forklifts">
  <h4>{{ forklift.name }}</h4>
  <a
    class="btn btn-primary"
    [routerLink]="['/forklift', forklift.forkliftCode, 'overview']"
    >Go to Manufacturer Overview</a
  >
</div>
