<h2>Brands search</h2>
<hr />
<div *ngFor="let brand of brands">
  <h4>{{ brand.manufacturerEntity.name }}</h4>

  <h4>{{ brand.brandName }}</h4>
  <h4>{{ brand.created }}</h4>
  <h4>{{ brand.status }}</h4>
  <a
    class="btn btn-primary"
    [routerLink]="['/brands', brand.brandCode, 'overview']"
    >Go to Manufacturer Overview</a
  >
</div>
