<h2>Forklift</h2>
<hr />
<div>
  <h4>{{ forklift.name }}</h4>
  <p>{{ forklift.description }}</p>
  <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
  <button class="btn btn-primary" (click)="clearCart()">Clear Cart</button>
</div>
