<h2>Checkout</h2>
<button class="btn btn-primary" (click)="clearCart()">Clear Cart</button>

<hr />
<div *ngIf="items.length > 0; else noItems">
  <p>Your current cart include these items:</p>
  <div class="alert alert-info" *ngFor="let product of items">
    <h4>{{ product.name }}</h4>
    <h4 class="text-right">Total price: {{ product.description }}</h4>
    <hr />
  </div>
</div>

<ng-template #noItems><p>This cart is empty</p></ng-template>
