<h2>Manufacturer</h2>
<hr />
<div>
  <h4>{{ manufacturer.name }}</h4>
  <p>{{ manufacturer.description }}</p>
  <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
  <button class="btn btn-primary" (click)="clearCart()">Clear Cart</button>
</div>
