<h2>Manufacturer</h2>
<hr />
<div *ngFor="let manufacturer of manufacturers">
  <h4>{{ manufacturer.name }}</h4>
  <a
    class="btn btn-primary"
    [routerLink]="['/manufacturers', manufacturer.manufacturerCode, 'overview']"
    >Go to Manufacturer Overview</a
  >
</div>
