<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/brand/search']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Brand</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/manufacturers/search']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Manufacturer</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/forklifts/search']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Forklifts</a
          >
        </li>

        <li class="nav-item">
          <a
            [routerLink]="['/cart']"
            routerLinkActive="router-link-active"
            class="nav-link"
            >Cart</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
